.container_12.clearfix
  .grid_4.alpha
    %h1 Friendtersection

  .grid_4
    - if logged_in?
      %p You are logged in
      %p Special codes enabled
  .grid_4.omega
    - if logged_in?
      = button_to "Logout", login_path, :method => :delete
    - else
      = button_to "Yes! I want to enable special facebook codez ", login_path, :method => :post


- if @intersection && @intersection.any?
  .container_12
    %dl.grid_12
      %dt Ah! You both like:
      %dd= render_likes @intersection
      %dd (intersection of your likes and your friends likes)

.container_12
  - if @user
    .grid_8.alpha
      %dl
        %dt User:
        %dd= render_user @user

  - if @likes
    .grid_4.omega
      %dl
        %dt Likes:
        %dd= render_likes @likes

.container_12
  - if @friend
    .grid_8.alpha
      %dl
        %dt Friend ID:
        %dd= @friend_id.inspect
        %dt Friend:
        %dd= render_user @friend

  - if @friends_likes
    .grid_4.omega
      %dl
        %dt Friends likes:
        %dd= render_likes @friends_likes

- if @friends
  .clear
  .container_12
    %h2 Friends:
    - @friends.each do |friend|
      %span.grid_3= link_to friend["name"], :friend_id => friend["id"]
